---
export interface Props {
    recommendations: string;
};

import '../styles/owl.carousel.min.css';

const { recommendations } = Astro.props;
---


<section id="recommendations" class="section section-no-border bg-color-primary m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-light font-weight-extra-bold text-uppercase">{recommendations}</h2>
            </div>
            <div class="col-lg-12 p-0">
                <div class="owl-carousel custom-dots-style-1 custom-dots-color-1 custom-dots-color-1-light custom-dots-position-1 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'loop': false, 'nav': false, 'dots': true}">
                    <div>
                        <div class="col">
                            <div class="testimonial custom-testimonial-style-1 custom-testimonial-style-1-light testimonial-with-quotes mb-0">
                                <blockquote class="pb-2">
                                    <p class="custom-text-color-3">Cuando la preparación profesional encuentra un enfoque estratégico, las oportunidades se muestran solas. Un placer trabajar contigo. Que sigan los éxitos.</p>
                                </blockquote>
                                <div class="testimonial-author float-start">
                                    <p><strong class="text-uppercase text-color-light">Jorge Pérez Osterling</strong><span class="custom-text-color-3 font-weight-light">Gerente Comercial ORBIS MOBILE SAC</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col">
                            <div class="testimonial custom-testimonial-style-1 custom-testimonial-style-1-light testimonial-with-quotes mb-0">
                                <blockquote class="pb-2">
                                    <p class="custom-text-color-3">Michael es un emprendedor que ha sabido aprovechar una necesidad latente para hacer valer su potencial como profesional. Cuando acudí a él supe que me daría solución en el área de sistemas de VICSATEX y así fue, con un enfoque y orientación de las nuevas tecnologías.</p>
                                </blockquote>
                                <div class="testimonial-author float-start">
                                    <p><strong class="text-uppercase text-color-light">Miguel Vicente</strong><span class="custom-text-color-3 font-weight-light">Gerente General VICSATEX EIRL</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>